/* Define font face for Monocraft font */
@font-face {
    font-family: "Monocraft";
    src: url(../assets/Monocraft.woff) format('woff');
}

/* Define color variables */
:root {
    --background-1: #1b1b1b;
    --background-2: #252525;
    --background-3: #222222;
    --background-4: #3d3d3d;
    --background-5: #383838;
    --background-6: #575757;
    --text-1: #ffffff;
    --text-2: #dcdcdc;
    --text-3: #c3c3c3;
    --text-4: #383838;
}

/* Set default styles for body */
body {
    font-family: "Monocraft"; /* Use Monocraft font */
    padding: 0;
    margin: 0;
    background: radial-gradient(var(--background-2), var(--background-1)); /* Set radial background gradient */
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: var(--text-2);
}

/* Styling for header */
header {
    background-color: var(--background-2);
    padding: 20px;
    text-align: center;
    box-shadow: #00000050 0 0 10px;
}

/* Styling for h1 */
h1 {
    font-size: 2em;
    margin: 0;
}

/* Styling for p */
p {
    margin: 0;
}

/* Styling for img */
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
}

/* Styling for main */
main {
    padding: 20px;
}

/* Styling for h2 */
h2 {
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* Styling for ul */
ul {
    list-style: none;
    padding: 0;
}

/* Styling for a */
a {
    color: var(--text-1);
    text-decoration: none;
}

/* Styling for a:hover */
a:hover {
    text-decoration: underline;
}


/* Projects and Updates */


/* Styling for the tab wrapper */
.tab-wrapper {
    width: 100vh;
    height: 70vh;
    display: grid;
    justify-content: center;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 30px;
}

/* Styling for grid items */
.tab-container {
    background-color: var(--background-2);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    width: 100%;
}

/* Styling for projects grid item */
#projects {
    grid-column: span 2;
}

/* Styling for updates grid item */
#updates {
    grid-column: span 1;
}

/* Styling for project list grid */
#project-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    height: auto;
}

/* Styling for image button container text */
.image-button-text {
    text-align: center;
}

/* Styling for project image */
.project-image {
    box-shadow: 0 0 0px rgba(255, 255, 255, 0.3);
    transition: box-shadow 0.3s ease-in-out;
}

.project-image:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3)
}

.centered {
    text-align: center;
}

.dated {
    margin-top: 5px;
    margin-bottom: 5px;

}
